<!--Navigation-->
<div class="navbar-fixed">
    <ul id="user-menu" class="dropdown-content">
        <li><a *ngIf="loggedIn()" [routerLink]="['/Profile']">Perfil</a></li>
        <li *ngIf="getCurrentRole() && getCurrentRole() === 3"><a [routerLink]="['/MyPurchases']"><i class="fa fa-bar-chart"></i>Mis Compras</a></li>
        <li *ngIf="getCurrentRole() && getCurrentRole() === 4"><a [routerLink]="['/MySales']"><i class="fa fa-line-chart"></i>Mis Ventas</a></li>
        <li *ngIf="getCurrentRole() && showMessages"><a [routerLink]="['/MyMessages']"><i class="fa fa-envelope"></i>Mis Mensajes</a></li>
        <li *ngIf="getCurrentRole() && showMessages"><a [routerLink]="['/SendMessages']"><i class="fa fa-share"></i>Enviar Mensaje</a></li>
        <li><a href="#" *ngIf="loggedIn()" (click)="logout()"><i class="fa fa-sign-out"></i>Salir</a></li>
    </ul>
    <nav id="nav_f" class="default_color" currentUser.role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left"> </a>
                <ul class="right hide-on-med-and-down">
                    <li><a [routerLink]="['/Home']"><i class="fa fa-home"></i>Inicio</a></li>
                    <li><a [routerLink]="['/Providers']"><i class="fa fa-users"></i>Proveedores</a></li>
                    <li *ngIf="loggedIn() && (getCurrentRole() && getCurrentRole() === 4)"><a [routerLink]="['/NewItem']"><i class="fa fa-plus"></i>Crear Item</a></li>
                    <li *ngIf="loggedIn() && (getCurrentRole() && getCurrentRole() === 4)"><a [routerLink]="['/NewPackage']"><i class="fa fa-plus"></i>Crear Paquete</a></li>
                    <li *ngIf="loggedIn() && (getCurrentRole() && getCurrentRole() === 5)"><a [routerLink]="['/NewProvider']"><i class="fa fa-plus"></i>Crear Proveedor</a></li>
                    <li *ngIf="loggedIn() && (getCurrentRole() && getCurrentRole() === 3)"><a [routerLink]="['/ShoppingCart']"><i class="fa fa-shopping-cart"></i>Carro de compras <span class="badge" *ngIf="nItems">{{nItems}}</span> </a></li>
                    <li *ngIf="loggedIn() && (getCurrentRole() && getCurrentRole() === 5)"><a [routerLink]="['/Transactions']"><i class="fa fa-bar-chart"></i>Transacciones</a></li>
                    <li *ngIf="loggedIn() && (getCurrentRole() && getCurrentRole() === 5)"><a [routerLink]="['/Unsuscribe']"><i class="fa fa-thumbs-down"></i>Solicitudes de baja</a></li>
                    <li *ngIf="loggedIn() && showReports && (getCurrentRole() && getCurrentRole() === 4)"><a [routerLink]="['/Reports']"><i class="fa fa-bar-chart"></i>Reports</a></li>
                    <li><a href="#" *ngIf="!loggedIn()" (click)="login()"><i class="fa fa-sign-in"></i>Ingresar</a></li>

                    <li><a href="#!" class="dropdown-button" data-activates="user-menu">
                            <header-component *ngIf="loggedIn()"></header-component>
                    </a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a [routerLink]="['/Home']">Inicio</a></li>
                    <li><a [routerLink]="['/Providers']">Proveedores</a></li>
                    <li><a *ngIf="loggedIn()" [routerLink]="['/Profile']">Perfil</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>




<router-outlet></router-outlet>

<footer-component></footer-component>