<!--Navigation-->
<div class="navbar-fixed">
    <ul id="user-menu" class="dropdown-content">
        <li><a *ngIf="loggedIn()" [routerLink]="['/Profile']">Profile</a></li>
    </ul>
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left"> </a>
                <ul class="right hide-on-med-and-down">
                    <li><a [routerLink]="['/Home']">Home</a></li>
                    <li><a *ngIf="loggedIn()" [routerLink]="['/Profile']">Profile</a></li>
                    <li><a href="#" *ngIf="!loggedIn()" (click)="login()">LogIn</a></li>
                    <li><a href="#" *ngIf="loggedIn()" (click)="logout()">LogOut</a></li>
                    <li><a href="#!" class="dropdown-button" data-activates="user-menu"><header-component *ngIf="loggedIn()"></header-component></a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a [routerLink]="['/Home']">Home</a></li>
                    <li><a [routerLink]="['/Gallery']">Gallery</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>




<router-outlet></router-outlet>

<footer-component></footer-component>