<div class="container provider-detail">
	<section [hidden]="showEdit">
		<h1 class="principal-title">{{provider.nombre}}</h1>
		<img src="{{provider.imagenPrincipal}}" alt="">
		<div class="row">
			<div class="col s5 offset-s1">
				<label>Dirección</label>
				<p>{{provider.direccion}}</p>
			</div>
			<div class="col s5 offset-s1">
				<label>Correo electrónico</label>
				<p>{{provider.email}}</p>
			</div>
			<div class="col s5 offset-s1" *ngIf="currentCategory">
				<label>Categorìa:</label>
				<p>{{currentCategory}}</p>
			</div>
		</div>
		<button class="waves-effect waves-light btn" (click)="showEdit = true;" *ngIf="allowedToEdit">Edit</button>
	</section>

	<div class="container edit-provider row" [hidden]="!showEdit">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input id="name" type="text" class="validate" [(ngModel)]="provider.nombre" required>
					<label for="name">Nombre</label>
				</div>
				<div class="input-field col s6">
					<input id="description" type="text" class="validate" [(ngModel)]="provider.email" required>
					<label for="description">Correo Electrónico</label>
				</div>
				<div class="input-field col s6">
					<input id="identificacion" type="text" class="validate" [(ngModel)]="provider.identificacion" required>
					<label for="identificacion">Identificación</label>
				</div>
				<div class="input-field col s6">
					<input id="direccion" type="text" class="validate" [(ngModel)]="provider.direccion" required>
					<label for="direccion">Dirección</label>
				</div>
				<div class="input-field col s6">
					<h6>Category</h6>
					<select class="form-control" [(ngModel)]="provider.idTipo" (ngModelChange)="setCategory($event)">
						<option *ngFor="#category of categories | async" [value]="category.id">{{category.nombre}}</option>
					</select>
				</div>
				<input id="disabled" type="file" multiple class="validate" #input (change)="imageChange(input)" required>
				<img [src]="provider.imagenPrincipal" alt="">
			</div>
			<a class="waves-effect waves-light btn" (click)="update()">Guardar</a>
		</form>
	</div>
</div>