@import "./../../assets/styles/subis.travel/variables";
.provider-detail {

  border: 1px solid #ddd;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 5px #ccc;
  margin: 70px auto 50px !important;
  padding: 20px 20px 20px 20px;
  max-width:900px!important;

  .principal-title{
    margin:0px;
    background: $st-yellow-color;
    color: #fff;
    text-shadow: 2px 2px #aaa;
    padding: 10px;
    border-radius: 5px;
  }

  img {
    width: 100%;
    margin: 10px auto;
    display: block;
  }
  .rating {
    display: inline-block;
    border-radius: 2px;
    font-size: 15px;
    padding: 7px 15px 6px;
    position: relative;
    top: -15px;
    left: 15px;
    i {
      color: lightgray;
    }
    .selected {
      color: $st-fourth-color;
    }
  }
}
