@import "./../../assets/styles/subis.travel/variables";
.item-detail {
  
  border: 1px solid #ddd;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 5px #ccc;
  margin: 70px auto 50px !important;
  padding: 20px 20px 20px 20px;
  max-width:900px!important;

  h1 {
    font-size: 1.4705882352941178em;
    color: $st-main-color;
    display: inline-block;
  }

  img{
    max-width:600px!important;
    max-height:600px!important;
    width: 95%;
    margin: 20px auto;
    display: block;
    border-radius:5px;
  }
  .item-detail-rating {
      border-radius: 2px;
      font-size: 15px;
      padding: 7px 15px 6px;
      position: relative;
      i {
        color: lightgray;
      }
      .selected {
        color: $st-fourth-color;
      }
    }
  .item-content {
    margin-top: 63px;

    .item-current-rating {
      border-radius: 2px;
      font-size: 15px;
      padding: 7px 15px 6px;
      position: relative;
      i {
        cursor: pointer;
        color: lightgray;
        &:hover:before,
        &:hover:before ~ &:before {
          color: $st-fourth-color;
        }
      }
      .selected {
        color: $st-fourth-color;
      }
    }
    .ratings, .questions {
      .avatar {
        width: 60px;
        height: 60px;
      }

      .date {
        min-width: 0px;
        padding: 0px;
        font-size: 12px;
        vertical-align: top;
        float: right;
      }
    }
    .question-list {
      .buttons {
        .btn {
          margin: 0 1%;
        }
      }
    }

  }

  .principal-title{
    margin:0px;
    background: $st-yellow-color;
    color: #fff;
    text-shadow: 2px 2px #aaa;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    h1{
      margin:0px;
      color: #fff;
      text-shadow: 2px 2px #aaa;
    }
  }
.share-nav {
    position: absolute;
    bottom: 44px;
    right: 148px;
}
.image-section {
  position: relative;
}
}
