<div class="container">
    <h1>{{item.nombre}}</h1>
    <div class="rating">
        <a href="#">
            <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 0}"></i>
            <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 1}"></i>
            <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 2}"></i>
            <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 3}"></i>
            <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 4}"></i>
        </a>
    </div>
    <p>{{item.descripcion}}</p>
    <img src="{{item.imagen}}" alt="">
    <p>{{item.estado}}</p>
    <p>valor: {{item.valor}}</p>
</div>