
<!--Intro-->
<div class="st-intro section no-pad-bot row" id="index-banner">
	<div class="col s12 col m6 center offset-m3">
		<h4 class="center">Cuéntanos el sitio que deseas visitar</h4>
		<div class="input-field">
			<form [ngFormModel]="searchForm" (submit)="filterGallery($event)" class="row">
			<div class=" col s10">
				<i class="fa fa-search prefix"></i>
				<input ngControl="searchText" id="icon_prefix" type="text" class="validate">
				<label for="icon_prefix"></label>
			</div>
				<button type="submit" class="waves-effect waves-light btn fa fa-search col s2"></button>
			</form>
		</div>
	</div>
</div>

<!--Gallery-->

<gallery></gallery>