@import "./../../assets/styles/subis.travel/variables";
filters{
  background: url("./../../assets/images/bg/landscape-bg.png");
  background-size: cover;
  width: 100%;
  height: 500px;
  display: block;
}