<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="brand-logo left"> </a></div>
            <div class="col-md-6">
                <ul class="footer-social">
                    <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-pinterest"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-youtube"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-four">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>All Rights Reserved 2016 © MaterialMag, Designed &amp; Developed by <a href="http://crunchPress.com" target="_blank">CrunchPress.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>