.default_color{
  background-color: $st-white-color !important;
  &:hover{
    background-color: $st-white-color !important;
  }
  ul {
    a {
      color: $st-third-color;
      &:hover{
        background-color: transparent !important;
        text-decoration: underline                   ;
      }
    }
  }
}

.default_color_text{color: $st-main-color !important}

.brand-logo {
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../../images/logos/st-logo.png");
  display: block;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-bottom: 2px solid #2B3954;
}

.all-height {
  height: 100%;
}

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid $st-fourth-color;
  border-bottom: 2px solid $st-fourth-color;
  transform: rotate(40deg);
  backface-visibility: hidden;
}


.btn {
  background-color: $st-second-color !important;
}

h1 {
  font-size: 1.4705882352941178em;
  color: #2B3954;
  font-weight: bolder;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.input-field label {
  font-size: 13px;

  line-height: 14px;
}

nav ul a span.badge {
  position: static;
  margin-left: 4px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #2B3A54;
  border-radius: 10px;
}

select {
  display: block;
}

.view-container {
  min-height: 728px;
}