.default_color{background-color: $st-second-color !important}

.default_color_text{color: $st-main-color !important}

nav ul a {
    color: $st-main-color;
}

.brand-logo {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url("./../../images/logos/st-logo.svg");
    background-repeat: no-repeat;
}