/* Colors  */
$st-main-color: #2B3954;
$st-second-color: #BBCD77;
$st-third-color: #F4D279;
$st-fourth-color: #DC692D;
$st-white-color: white;
$st-blue-color: #2B3954;

/*sizes*/
$st-process-icon-size: 97px;

/* Fonts */
$st-font: 'latoregular',sans-serif;

/* Font sizes */
$st-base-font-size: 16px;

/* Images */
