<!--Work-->
<div class="container row gallery">
    <div [hidden]="!items.length" class="container col s12 item-list-container">
        <div class="row item-list">
            <div class="col s6 m4 l3" *ngFor="#item of items">
                <div class="card">
                    <div class="card-image">
                        <a [routerLink]="['/Item', {id: item.id}]">
                            <img src="{{item.imagen}}">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="rating">
                            <a href="#">
                                <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 0}"></i>
                                <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 1}"></i>
                                <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 2}"></i>
                                <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 3}"></i>
                                <i class="fa fa-star" [ngClass]="{'selected': item.promedioCalificacion > 4}"></i>
                            </a>
                        </div>
                        <span class="card-title col s12">
                            <h3><a href="">{{item.descripcion}}</a></h3>
                        </span>
                        <div class="card-detail col s12">
                            <span class="value">${{item.valor}}</span>
                            <span class="address">${{item.valor}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination></pagination>
    </div>
    <div *ngIf="!items.length" class="container col s12 item-list-container valign-wrapper">
        <div class="empty-list valign">
                <p>
                    <i class="fa fa-exclamation-circle fa-5"></i>Ningún resultado coincide con los criterios de búsqueda. Por favor intenta con nuevos parámetros.
                </p>
        </div>
    </div>

</div>


