<!--Work-->
<div class="container gallery">
    <div class="row">
        <div class="filters col s12 m3">
        <providers></providers>
        <range></range>
        </div>
        <div class="container col s12 m9 item-list-container">
            <div class="row item-list">
                <div class="col s12 m3" *ngFor="#item of items">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{item.imagen}}">
                        </div>
                        <div class="card-content">
                            <div class="rating">
                                <a href="#">
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 0}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 1}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 2}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 3}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 4}"></i>
                                </a>
                            </div>
                        <span class="card-title col s12">
                            <h3><a href="">{{item.descripcion}}</a></h3>
                        </span>
                            <div class="card-detail col s12">
                                <span class="value">${{item.valor}}</span>
                                <span class="address">${{item.valor}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination></pagination>
    </div>
</div>


