<!--Work-->
<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle red">play_arrow</i>
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
        <div class="container col s12 m9">
            <div class="row">
                <div class="col s12 m4" *ngFor="#item of items">
                    <div class="card">
                        <div class="card-image">
                            <img src="./../../assets/images/bg/project1.jpg">
                        </div>
                        <div class="card-content">
                            <div class="rating">
                                <a href="#">
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 0}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 1}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 2}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 3}"></i>
                                    <i class="fa fa-star" [ngClass]="{'selected': item.idClasificacion > 4}"></i>
                                </a>
                            </div>
                        <span class="card-title col s12">
                            <h3><a href="">{{item.descripcion}}</a></h3>
                        </span>
                            <div class="card-detail col s12">
                                <span class="value">${{item.valor}}</span>
                                <span class="address">${{item.valor}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<pagination></pagination>
