.card-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,.80);
  width: 100%;
  padding: 0 !important;
  height: 70px;

  .rating {
    background: #fff;
    display: inline-block;
    border-radius: 2px;
    font-size: 15px;
    padding: 7px 15px 6px;
    position: relative;
    top: -15px;
    left: 15px;
    i {
      color: lightgray;
    }
    .selected {
      color: #337ab7;
    }
  }

  h3 {
    margin: 0px;
    font: 500 16px/21px 'Roboto',sans-serif;
    a {
      color: white;
    }
  }

  .card-detail {

  }
  span {
    list-style: none;
    display: inline-block;
    margin-right: 14px;
    color: #888888;
    color: white;
    font-size: 12px;
    line-height: 12px;
  }
}

.card {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 2px;

  img {
    width: 100%;
    height: auto;
  }
}
.card-image{
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
}
.card-image:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
}

.gallery {
  width: 93%;
}

.item-list {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.item-list-container {
  min-height: 459px;
}