@import "./../../assets/styles/subis.travel/variables";
.transactions {
  
  border: 1px solid #ddd;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 5px #ccc;
  margin: 70px auto 50px !important;
  padding: 20px 20px 20px 20px;

  .all-transactions {
    height: 661px;
    overflow-y: auto;
    thead{
      color: $st-fourth-color;
    }
    tr {
      color: #2B3954;
      font-family: monospace;
    }
    table.striped > tbody > tr:nth-child(odd) {
      background-color: rgba(229, 249, 157, 0.41);
    }

  }

  .principal-title{
    margin:0px;
    background: $st-yellow-color;
    color: #fff;
    text-shadow: 2px 2px #aaa;
    padding: 10px;
    border-radius: 5px;
  }
}
