<div class="container new-provider row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="name" type="text" class="validate" [(ngModel)]="currentProvider.nombre" required>
                <label for="name">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input id="description" type="text" class="validate" [(ngModel)]="currentProvider.email" required>
                <label for="description">Correo Electrónico</label>
            </div>
        </div>
        <a class="waves-effect waves-light btn" (click)="create()">Guardar</a>
    </form>

</div>