
<div class="col s12">
    <ul class="collection">
        <li class="collection-item row valign-wrapper" *ngFor="#itemType of itemTypeList">
            <span class="title col s11 valign">{{itemType.name}}</span>
            <div class="check col s1 valign">
                <input #selected type="checkbox" id="{{'itemType' + itemType.id}}" (change)="updateTypeList(itemType.id)"/>
                <label [attr.for]="'itemType' + itemType.id"></label>
            </div>
        </li>
    </ul>
</div>